body{
    margin: 10px;
}

.piePagina li{
  background-color: #e2d2b5;
  display: block;
  text-align: center;
  justify-content: center;
  width:auto;
  margin:5px;
}
.navBarra{
    width:auto;
    margin:5px;
    
}
nav{
    justify-content: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #31525B;

  }
  
  li {
    float: right;
    align-items: center;
    justify-content: center;
  }


  
  li a {
    display: block;
    color: #FAE6B1;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;

  }
  
  li a:hover {
    color:#B3DEE5;
    box-shadow: #e2d2b5;
    font-size: larger;
    text-decoration: none;
    text-transform:capitalize;
    border-radius: 30px;
  }

  #inicioLink{
    float:left;
    box-shadow: #FAE6B1;
    background-color: #e2d2b5;
  }

  #inicioLink img{
    width:30px;
    height:30px;
  }

  #inicioLink img:hover{
    transform: scale(2);
  }